.App {
  text-align: center;
}

.input-contatiner {
  display: grid;
  position: fixed;
  height: 50px;
  width: 200px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -100px;
}

input[type="tel"]::-webkit-inner-spin-button,
input[type="tel"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.phone-input {
  width: 250px;
  height: 100px;
  vertical-align: middle;
}
