form {
  width: 250px;
}

.form-row {
  width: 100%;
  height: calc(0.3rem * 6);
}

.phone-input {
  border-style: none;
  border-bottom: 1px solid grey;
  font-size: 15px;
}

::placeholder {
  font-size: 15px;
}

.phone-input:focus {
  outline-width: 0;
}
